body{
    min-height: 90%;
    
}
.action-update{
    color: black;
    padding: 0;
    margin-top: -19px;
    font-size: 21px;
}

.action-delete{
    color: red;
}
.table{
    margin: 0 auto;
    width: 80%;
}

.container{
    min-height: 75%;
}

.container-index{
    min-height: 100%;
}

.banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: 0.5s;
    background-position: center;
}

.login{
  
        width: 100%;
        height: 110%;
        z-index: 1;
        background-color: rgb(8 6 6 / 40%);
        position: absolute;
        /* margin: 0 auto; */
        padding: 0;
        margin: -8% auto;
}

.form-login{
    position: relative;
background-color: white;
min-width: 320px;
max-width: 340px;
width: 50%;
border-radius: 10px;
margin: 10% auto;
padding: 10px;
border: 1px solid #888;
}

.input-login{
    width: 100%;
}

.btn-login{
    width: 100%;
    background-color: red;
}

nav img{
    width: 50px;
    padding: 5px;
    margin-left: 10px;
}

nav b{
    font-size: 20px;
    padding: 18px;
}

.nav-color{
    align-items: center;
    background-color: #000000;
    display: flex;
    
    padding: 10px 0;
}
.nav-colors{
    background-color: #212529!important;
}

.nav-colors a{
    color: white;
}
.nav-colors a:hover{
    color: red;
}

.nav-letra
{
    color: #f1f1f1;
    font-size: 16px;
    opacity: 1.7;
    padding-right: 10px;
    margin: 0;
    margin-right: 25px;
    font-weight: bolder;
}

#main-container{
 min-height: 85%;
}
.sidebarFoto{
    border-radius: 50%;
    width: 80%;
    padding: 0px;
    margin:0px;
}

.sidebarta{
    padding-right: 0px;
    font-weight: 500;
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }
  .page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
  } 
  
  #sidebar.active {
    margin-left: -17rem;
  }
  
  #content.active {
    width: 100%;
    margin: 0;
  }
  
  .separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
  }
  
  .text-uppercase {
    letter-spacing: 0.1em;
  }
  .text-gray {
    color: #aaa;
  }
  .nav-link{
      text-transform: capitalize;
  }
  .nav-link:hover{
      background:#f3f2f2;
  }
  .text-primary{
    color: rgb(0 0 0 / 90%) !important;
  }
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
  }

  .tama{
    min-height: 100%;
  }

  .img-perfil{
    border-radius: 50%;
  }

  .img-per{
    margin: 0 auto;
  }